**/*.so
**/*.o
**/*~
**/*.pyc
**/*.pyo
**/*.pyd
**/*.backup
**/#*#
auto
Documentation.aux
Documentation.log
Documentation.out
Documentation.synctex.gz
Documentation.toc
Documentation.bbl
Documentation.bcf
Documentation.blg
Documentation.run.xml

